@page "/History"
@using RetoFront.Data
@using System.Net.Http.Json
@using Newtonsoft.Json
@using RetoFront.Components
@inject HttpClient http
@inject NavigationManager Navi
<!-- Pagina que muestra el historial de puntajes de los usuarios que han jugado-->
<!-- -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <!-- se crea una ventana de navegacion donde se encuentran el nombre de la prueba y el hipervinculo Salir que
        lleva a la pagina principal-->
    <div class="container px-4">
        <a class="navbar-brand text-left" style="color:white">RETO TECNICO</a>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/">SALIR</a></li>

        </ul>

    </div>
</nav>
<!-- Este elemento contiene el nombre de la pagina-->
<header class=" table" style="color: white; background-image: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(7,47,146,1) 17%, rgba(2,0,36,1) 73%, rgba(0,212,255,1) 100%); ">
    <div class="container pt-xl-5 text-center">
        <h1 class="fw-bolder">Ultimos Resultados</h1>

    </div>
</header>

<!-- se crea una tabla que contenga y muestre todos los usuarios que han jugado-->
<table class="table">
    <tr>
        <th>Usuario</th>
        <th>Puntaje</th>

    </tr>

    @if (Vrespuesta != null && Vrespuesta.Data != null)
    {

        @foreach (var Element in Vrespuesta.Data)
        {
            <tr>
                <td>@Element.Usuario</td>
                <td>@Element.Puntaje</td>
            </tr>

        }
    }

</table>




@code {
    public UsersRequest<object> Respuesta = new UsersRequest<object>(); // Elemento que contiene la respuesta a la solicitud del comando HTTPGET
    public UsersRequest<List<User>> Vrespuesta = new UsersRequest<List<User>>(); // variable dodne se guardan todos los usuarios que han jugado
    string url = "https://localhost:44376/api/Users";

    // con la siguiente funcion anonima se obtiene una lista de todos los jugadores por medio del comando HTTPGET
    protected override async Task OnInitializedAsync() =>
        Vrespuesta = await http.GetFromJsonAsync<UsersRequest<List<User>>>(url);







}